<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link type='text/css' rel="stylesheet" href="map.css" />
<script type="text/javascript" src="../static/js/map.js" th:src="@{/js/map.js}"></script>
<script	src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&amp;"	
th:src="@{../static/js/googlemap.js}"
type="text/javascript"></script>
<link href="../static/css/style.css"
    th:href="@{/css/style.css}"
    rel="stylesheet" media="screen" />
<script type="text/javascript">
window.onload = function(){
	if (!String.prototype.trim) {
		String.prototype.trim = function() {
			return this.replace(/^\s+|\s+$/g,'');
		}
	}
initialize();
}

function initialize(){
if (typeof(Number.prototype.toRad) === "undefined") {
	Number.prototype.toRad = function() {
		return this * Math.PI / 180;
	}
}
if (typeof(Number.prototype.toDeg) === "undefined") {
	Number.prototype.toDeg = function() {
		return this * 180/Math.PI;
	}
}
var mapOptions = {
		zoom: 16,
		center: new google.maps.LatLng(19.103537,72.849675),
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		draggableCursor: 'crosshair'
	};
	map = new google.maps.Map(document.getElementById('map_canvas'),
							  mapOptions); 
	var marker = new google.maps.Marker({
										position: map.getCenter(),
										map: map,
										title: 'Click to zoom'
										});
}
</script>

<style type="text/css">
body {
	font-family: sans-serif;
}


</style>
</head>
<body>
	<div class="page">
		<div class="head">
			<label for='txtPercent'>Match threshold percent</label> <input
				id="txtPercent" type="text" />
		</div>
		<div class='container'>
			<div id="map_canvas" style="width: 100%; height: 500px; float: left;">
				
			</div>
		</div>
	</div>
	<input type="button" onclick="btn_submit()" value='submit' />
</body>
</html>